body {
    background: #4d4d4d;
    width: 375px;
    margin: 0px;
    -webkit-user-select: none;
}
.background {
    position: relative;
}
#spigot {
  position: absolute;
  top:28px;
  left:35px;
  width:90px;
  height:70px;
}
.header {
    font-family: Tahoma, Verdana, Helvetica, Arial, sans-serif;
    font-size: 1.2em;
    color: #8E8E8E;
    position: absolute;
    top: 4px;
    text-align: center;
    width: 100%;
}
.header a {
  margin: 0 2px;
  text-decoration: none;
}
.header a:link {
    color: #DFDFDF;
}
.header a:visited {
    color: #DFDFDF;
}
.header a:hover {
  text-decoration: underline;
}
#options {
    cursor: pointer;
    font-size:15px;
    color: #DFDFDF;
}
.center {
    text-align: center;
}
.secondaryHeader {
    font-size: 25px;
    font-weight: bold;
    font-family: Aaargh;
}
.content {
    background: url("sn_background.png") no-repeat;
    font-family: Tahoma, Verdana, Helvetica, sans-serif;
    color: #555;
    line-height: 1.2;
    height:72px;
    width: 100%;
    padding: 33px 0px 0px 150px;
}
.content span,
.content a {
    font-size: 1.2em;
}
.content a:visited {
    text-decoration: none;
}
.content span {
    display: inline-block;
    width: 35%;
    margin-right: 4px;
}
#alerts,
#messages,
#posts,
#rating {
    width:auto;
    text-align: right;
    font-weight: 100;
}
#alerts {
    color: #555;
}
#messages {
    color: #555;
}
#posts {
    color: #555;
}
#rating {
    color: #63b05c;
}
